<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>backoffice</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>dashboard</servlet-name>
    <jsp-file>/pages/dashboard.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>dashboard</servlet-name>
    <url-pattern>/pages/dashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>customers</servlet-name>
    <jsp-file>/pages/customers.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>customers</servlet-name>
    <url-pattern>/pages/customers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>viewCustomer</servlet-name>
    <jsp-file>/pages/viewCustomer.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewCustomer</servlet-name>
    <url-pattern>/pages/viewCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>branches</servlet-name>
    <jsp-file>/pages/branches.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>branches</servlet-name>
    <url-pattern>/pages/branches</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>productTypes</servlet-name>
    <jsp-file>/pages/productTypes.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>productTypes</servlet-name>
    <url-pattern>/pages/productTypes</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>productSubTypes</servlet-name>
    <jsp-file>/pages/productSubTypes.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>productSubTypes</servlet-name>
    <url-pattern>/pages/productSubTypes</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>products</servlet-name>
    <jsp-file>/pages/products.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>products</servlet-name>
    <url-pattern>/pages/products</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>transactions</servlet-name>
    <jsp-file>/pages/transactions.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>transactions</servlet-name>
    <url-pattern>/pages/transactions</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateCustomer</servlet-name>
    <servlet-class>org.mongodb.sademo.backoffice.db.mysql.CreateCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCustomer</servlet-name>
    <url-pattern>/CreateCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateCustomer</servlet-name>
    <servlet-class>org.mongodb.sademo.backoffice.db.mysql.UpdateCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCustomer</servlet-name>
    <url-pattern>/UpdateCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateAddress</servlet-name>
    <servlet-class>org.mongodb.sademo.backoffice.db.mysql.UpdateAddress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAddress</servlet-name>
    <url-pattern>/UpdateAddress</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddAddressToCustomer</servlet-name>
    <servlet-class>org.mongodb.sademo.backoffice.db.mysql.AddAddressToCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAddressToCustomer</servlet-name>
    <url-pattern>/AddAddressToCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateBranch</servlet-name>
    <servlet-class>org.mongodb.sademo.backoffice.db.mysql.CreateBranch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateBranch</servlet-name>
    <url-pattern>/CreateBranch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateProductType</servlet-name>
    <servlet-class>org.mongodb.sademo.backoffice.db.mysql.CreateProductType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateProductType</servlet-name>
    <url-pattern>/CreateProductType</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateProductSubType</servlet-name>
    <servlet-class>org.mongodb.sademo.backoffice.db.mysql.CreateProductSubType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateProductSubType</servlet-name>
    <url-pattern>/CreateProductSubType</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateProduct</servlet-name>
    <servlet-class>org.mongodb.sademo.backoffice.db.mysql.CreateProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateProduct</servlet-name>
    <url-pattern>/CreateProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddProductToCustomer</servlet-name>
    <servlet-class>org.mongodb.sademo.backoffice.db.mysql.AddProductToCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductToCustomer</servlet-name>
    <url-pattern>/AddProductToCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddTransaction</servlet-name>
    <servlet-class>org.mongodb.sademo.backoffice.db.mysql.AddTransaction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTransaction</servlet-name>
    <url-pattern>/AddTransaction</url-pattern>
  </servlet-mapping>
</web-app>